<!--Footer Section Start Here -->
<footer id="footer" class="second-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div id="block-block-23" class="block block-block">

          <h2>Quick Links</h2>

          <div class="content">
            <ul>
              <li><a href="/home">About Wisdom High School</a></li>
              <li><a href="/news" target="_blank">Wisdom News</a></li>
              <li>
                <a href="/library" target="_blank"></a><a href="/library"> Library</a></li>
              <li><a href="/admissions" target="_blank">Admissions</a></li>
              <li><a href="#" target="_blank">Sports</a></li>
              <li>
                <a href="/blog"></a>Blog</li>
              <li><a href="#">School Services</a></li>
              <li><a href="#">Jobs &amp; Career</a></li>
              <li><a href="#">Co-caricullar activities</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div id="block-block-25" class="block block-block">

          <h2>Academics</h2>

          <div class="content">
            <ul>
              <li><a href="/elearning" target="_blank">(E-Learning)</a></li>
              <li><a href="#" target="_blank">E-Learning Resources</a></li>
              <li><a href="#">School Director</a></li>
              <li><a href="#" target="_blank">Our Performance</a></li>
              <li><a href="#">Student Event List</a></li>
              <li><a href="#" target="_blank">Academic Calendar</a></li>
              <li>
                <a href="#" target="_blank"></a>
              </li>
              <li>
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div id="block-block-28" class="block block-block">

          <h2>More about Wisdom High School</h2>

          <div class="content">
            <ul>
              <li><a href="#" target="_blank">Wisdom @ 5 Years</a></li>
              <li><a href="#" target="_blank">Policies</a></li>
            </ul>
          </div>
        </div>
        <div id="block-block-27" class="block block-block">

          <h2>Wisdom High School</h2>

          <div class="content">
            <div><br />Tel: 0414-542803</div>
            <div>P.O. Box 798<br />Lira Uganda</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div id="block-block-24" class="block block-block">

          <h2>Connect with us on</h2>

          <div class="content">
            <ul>
              <li><a href="#" target="_blank">Facebook</a></li>
              <li><a href="#" target="_blank">Instagram</a></li>
              <li><a href="#" target="_blank">Twitter (@Wisdom)</a></li>
              <li><a href="#" target="_blank">Linkedin</a></li>
              <li><a href="#" target="_blank">YouTube</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div id="block-block-11" class="block block-block">

            <div class="content">
              <p style="text-align: center; ">&copy; Copyright 2022 - All Rights
                Reserved -Wisdom High School-Akalo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--Footer Section End Here -->