<header class="nav-bar"> 
    <div class="nav-bar-top">
        <div class="nav-logo">
            <img src="images/demo_logo.jpeg">
            <div class="slider-overlay"></div>
        </div>
        <div class="nav-headers">
            <h1>WISDOM HIGH SCHOOL</h1>
            <p>Wisdom For Exellence</p>
        </div>
    </div>
    <div class="nav-bar-bottom">
        <nav class="nav-links">
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="/apply">Admission</a>
                    <div class="nav-dropdown">
                        <ul>
                            <li><a href="/apply">Apply</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="/accademics">Academics</a>
                    <div class="nav-dropdown">
                        <ul>
                            <li><a href="#">Academic Performance</a></li>
                            <li><a href="#">Academic Materials</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Staff</a>
                    <div class="nav-dropdown">
                        <ul>
                            <li><a href="teaching_staff">Teaching Staff</a></li>
                            <li><a href="/Non-teaching_Staff">Non-Teaching Staff</a></li>
                            <li><a href="/Support_staff">Support Staff</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Co-Curricular Activities</a>
                    <div class="nav-dropdown">
                        <ul>
                            <li><a href="/games_Sports">Games & Sports</a></li>
                            <li><a href="/clubs">Clubs & Societies</a></li>
                            <li><a href="/wisdom_magazine">Wisdom Magazine</a></li>
                            <li><a href="/student_life">Students' Life</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="/galary">Gallery</a></li>
                <li><a href="/e-learning">E-Learning</a></li>
            </ul>
        </nav>
    </div>
</header> 