<Section class="slider-section">
    <div class="slider-wrapper">
        <div class="slider-imgs">
            <div style="background-image: url(images/img_10_lab.jpeg)" class="slider-img"></div>
            <div style="background-image: url(images/img_5_lab.jpeg)" class="slider-img"></div>
            <div style="background-image: url(images/img_1_class.jpeg)" class="slider-img"></div>
            <div style="background-image: url(images/img_12_ceremony.jpeg)" class="slider-img"></div>
            <div style="background-image: url(images/img_6_studio.jpeg)" class="slider-img"></div>
            <div style="background-image: url(images/img_4_studio.jpeg)" class="slider-img"></div>
            <div style="background-image: url(images/img_9_compound.jpeg)" class="slider-img"></div>
            <div style="background-image: url(images/img_3_compound.jpeg)" class="slider-img"></div>
            <div style="background-image: url(images/img_13_lab.jpeg)" class="slider-img"></div>
        </div>
        <div class="slider-overlay"></div>
        <div class="slider-info">
            <button class="slider-image-btn">APPLY NOW</button>
            <h1>WELCOME TO <br><span>THE THEATER OF ACADEMICS</span></h1>
        </div>
    </div>
</Section>