 <!DOCTYPE html>
<html lang="en">
      {{>header12}}
      {{>secondarynavbar}}
   {{>navresponsive}}
    {{>slidersection}}
    {{>header}}
    <body>

    <!--academic stars-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <div class="text-right text-secondary">
                        <span class="badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">Academic Star</span>
                        <span class="text-orange" style=" font-weight: lighter;">2021 HEG 20 points</span>
                    </div>
                </div>
            </div>
            <div class="row padding card-body">
                <div class="col-lg-4">
                    <img class="img-fluid card-img" src="images/img_1_class.jpeg" style="">
                </div>
                <div class="col-md-12 col-lg-8">
                    <h3 class="card-title" style="color: blue;">Osuku James Official</h3>
                    <h6 style="font-weight: bold;" class="d-flex justify-content-between align-items-center">
                        <span>
                            <i class="fa fa-edit"></i>#Wisdom for Excellence
                        </span>
                    </h6>
                    <p style="white-space: pre-line;">
                        I want to take this opportunity to thank the entire staff of Wisdom high school for shapping me and giving me all the knowledge to the extent that i passed with flying colors thanks wisdom...
            <a href="#" class="btn btn-warning" id="btn-tr">Read more</a>
                        
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--second academic star starts here-->
    <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <div class="text-right text-secondary">
                        <span class="badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">Academic Star</span>
                        <span class="text-orange" style=" font-weight: lighter;">2021 PEM 20 points</span>
                    </div>
                </div>
            </div>
            <div class="row padding card-body">
                <div class="col-lg-4">
                    <img class="img-fluid card-img" src="images/img_1_class.jpeg" style="">
                </div>
                <div class="col-md-12 col-lg-8">
                    <h3 class="card-title" style="color: blue;">Namutebi Brenda Phasi</h3>
                    <h6 style="font-weight: bold;" class="d-flex justify-content-between align-items-center">
                        <span>
                            <i class="fa fa-edit"></i>#Wisdom for Excellence
                        </span>
                    </h6>
                    <p style="white-space: pre-line;">
                        I want to take this opportunity to thank the entire staff of Wisdom high school for shapping me and giving me all the knowledge to the extent that i passed with flying colors thanks wisdom...
                        <a href="#" class="btn btn-outline-primary" id="btn-tr">Read more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

     <!--third academic star starts here-->
     <div class="container">
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <div class="text-right text-secondary">
                        <span class="badge-danger p-2" style="border-radius: 40%; font-weight: lighter;">Academic Star</span>
                        <span class="text-orange" style=" font-weight: lighter;">2021 PEM 20 points</span>
                    </div>
                </div>
            </div>
            <div class="row padding card-body">
                <div class="col-lg-4">
                    <img class="img-fluid card-img" src="images/director.jpg" style="">
                </div>
                <div class="col-md-12 col-lg-8">
                    <h3 class="card-title" style="color: blue;">Namutebi Brenda Phasi</h3>
                    <h6 style="font-weight: bold;" class="d-flex justify-content-between align-items-center">
                        <span>
                            <i class="fa fa-edit"></i>#Wisdom for Excellence
                        </span>
                    </h6>
                    <p style="white-space: pre-line;">
                        I want to take this opportunity to thank the entire staff of Wisdom high school for shapping me and giving me all the knowledge to the extent that i passed with flying colors thanks wisdom...
                        <a href="#" class="btn btn-outline-primary" id="btn-tr">Read more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container jumbotron mt-4">
        <div class="card-header"><p>Send us a reply</p></div>
        <br>
        <br>

      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          
        </div>
        <div class="mb-3">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post comment</button>
      </form>
    </div>
{{>googlemap}}
{{>footer}}
{{>script}}
</body>
</html>
