 <!DOCTYPE html>
<html lang="en">
     {{>header12}}
      {{>secondarynavbar}}
   {{>navresponsive}}
    {{>slidersection}}
    {{>header}}
    <body>
<div class="container bg-light text-center">
  <h1 class="text-danger">Clubs and Societies</h1>
  <div class="row">
    <div class="col-md-4">
      <h2>Writer's club</h2>
      <img src="images/s5.jpg" />
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        praesentium sunt soluta velit, dicta nulla ad eaque, natus earum
        voluptatibus, fugit deserunt nam! Ratione laboriosam libero animi fuga
        consequuntur natus?</p>
    </div>
    <div class="col-md-4">
      <h2>Debate club</h2>
      <img src="images/cs2.jpg" />
      <p>fugit deserunt nam! Ratione laboriosam libero animi fuga consequuntur
        natus?</p>
    </div>
    <div class="col-md-4">
      <h2>Agriculture club</h2>
      <img src="images/cs3.jpg" />
      <p>fugit deserunt nam! Ratione laboriosam libero animi fuga consequuntur
        natus?</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Patriotism club</h2>
      <img src="images/cs4.jpg" />
      <p>fugit deserunt nam! Ratione laboriosam libero animi fuga consequuntur
        natus?</p>
    </div>
    <div class="col-md-4">
      <h2>Music,Dance and Drama</h2>
      <img src="images/mdd.jpg" />
      <p>
        fugit deserunt nam! Ratione laboriosam libero animi fuga consequuntur
        natus?
      </p>
    </div>
    <div class="col-md-4">
      <h2>Science club</h2>
      <img src="images/s6.jpg" />
      <p>
        fugit deserunt nam! Ratione laboriosam libero animi fuga consequuntur
        natus?</p>
    </div>
  </div>
</div>
{{>googlemap}}
{{>footer}}
{{>script}}
</body>
</html>