 <!DOCTYPE html>
<html lang="en">
    {{>header12}}
      {{>secondarynavbar}}
   {{>navresponsive}}
    {{>slidersection}}
    {{>header}}
    <body>
  <div class="main-contact">
        <h1 class="cont-head">CONTACT INFO</h1>
        <div class="cont-section">
            <div class="cont-form">
                <div class="container bg-primary mt-5 w-40 p-5 jumbotron">
                      <h2 class="cont-h2 text-white text-top">Contact Us Here</h2>
                     <form class="form-group">
                         <label class="cont">Your Name (required)</label>
                         <input type="text" class="form-control">
                         
                         <label class="cont">Your Email (required)</label>
                         <input type="email" class="form-control">
                         
                         <label class="cont">Subject</label>
                         <input type="text" class="form-control">
                         
                         <label class="cont">Your Message</label>
                         <textarea class="form-control"></textarea> 
                         <br> 
                             <button class="btn w3-red ">SEND</button>
                     </form>
                </div>
            </div>
            <div class="cont-info">
                <div class="cont-address">
                    <h3 class="info-h3"><i class="fa fa-email" style="color: #87dbeb;"></i> ADDRESS</h3>
                    <p>P.O BOX: 798 LIRA</p>
                    <p>8 KMS FROM LIRA-ADUKU ROAD</p>   
                </div>
                <div class="cont-mail">
                    <h3 class="info-h3"><i class="fa fa-at"style="color: #87dbeb;"></i> EMAIL US</h3>
                    <p><a href="#">supervisor@wisdomhighschool.com (Supervisor)</a></p>
                    <p><a href="#">admin@wisdomhighschool.com (Principle)</a></p>
                    <p><a href="#">dos@wisdomhighschool.com (DOS)</a></p>
                    <p><a href="#">dean@wisdomhighschool.com (Dean Of Students)</a></p>
                </div>
                <div class="cont-call">
                    <h3 class="info-h3"><i class="fa fa-phone-square" style="color: #87dbeb;"></i> CALL US</h3>
                    <p>0702479966</p>
                    <p>0772-479966</p>
                </div>
                <div class="cont-icons">
                    <p><i class="fa fa-facebook-official" style="color: blue;"></i></p>
                    <p><i class="fa fa-twitter-square" style="color: #87dbeb;"></i></i></p>
                    <p><i class="fa fa-instagram"style="color: #808080;"></i></p>
                    <p><i class="fa fa-youtube-play"style="color: #FF0000;"></i></p>
                </div>
            </div>
            </div>
           <h1 class="find">FIND US</h1>
        </div>
{{>googlemap}}
{{>footer}}
{{>script}}
</body>
</html>
        