<!DOCTYPE html>
<html lang="en">
  {{>header12}}
      {{>secondarynavbar}}
   {{>navresponsive}}
    {{>slidersection}}
    {{>header}}


<body>
        <!--News Section Starts Here -->
    <div class="news-events-container">
      <div class="news-container">
        <h1 class="h1-news">News</h1>
        <div class="news-items">
          <div class="news-item">
            <div class="news-img">
              <img src="images/demo_img_4.jpg" alt="" />
            </div>
            <h1>WISDOM HIGH COMMUNICATION IN REGARDS TO CANDIDATES RE-OPENING</h1>
            <div class="date-comments">
              <span>April 13, 2022</span>
              <div><span>0</span> comments</div>
            </div>
            <p>Dear parents, guardians, students and all stakeholders. We thank
              God that has kept you safe amidst this current pandemic.
              Following…</p>
          </div>
          <div class="news-item">
            <div class="news-img">
              <img src="images/mainhall.png" alt="" />
            </div>
            <h1>A LEVEL ICT NOTES AND PAPERS</h1>
            <div class="date-comments">
              <span>April 13, 2022</span>
              <div><span>0</span> comments</div>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Aspernatur, reprehenderit.</p>
          </div>
          <div class="news-item">
            <div class="news-img">
              <img src="images/staffb.png" alt="" />
            </div>
            <h1>A LEVEL ICT NOTES AND PAPERS</h1>
            <div class="date-comments">
              <span>April 13, 2022</span>
              <div><span>0</span> comments</div>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Aspernatur, reprehenderit.</p>
          </div>
          <div class="news-item">
            <div class="news-img">
              <img src="images/computer_lesson.png" alt="" />
            </div>
            <h1>A LEVEL ICT NOTES AND PAPERS</h1>
            <div class="date-comments">
              <span>April 13, 2022</span>
              <div><span>0</span> comments</div>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Aspernatur, reprehenderit.</p>
          </div>
        </div>
      </div>
      <div class="events-container">
        <h1 class="h1-events">Events</h1>
        <div class="event-items">
          <div class="event-item">
            <div class="event-date">
              <div class="event-logo">
                <div class="event-month">OCT</div>
                <div class="event-day">23</div>
              </div>
            </div>
            <div class="event-info">
              <h1>Admission Now Open</h1>
              <p>Thank you for your interest in Wisdom High Schools, which…</p>
            </div>
          </div>
          <div class="event-item">
            <div class="event-date">
              <div class="event-logo">
                <div class="event-month">OCT</div>
                <div class="event-day">23</div>
              </div>
            </div>
            <div class="event-info">
              <h1>Admission Now Open</h1>
              <p>Thank you for your interest in Wisdom High Schools, which…</p>
            </div>
          </div>
          <div class="event-item">
            <div class="event-date">
              <div class="event-logo">
                <div class="event-month">OCT</div>
                <div class="event-day">23</div>
              </div>
            </div>
            <div class="event-info">
              <h1>Visitation day for First term 2018</h1>
              <p>Thank you for your interest in Wisdom High Schools, which…</p>
            </div>
          </div>
          <div class="event-item">
            <div class="event-date">
              <div class="event-logo">
                <div class="event-month">OCT</div>
                <div class="event-day">23</div>
              </div>
            </div>
            <div class="event-info">
              <h1>Our Visitation day for First term 2018 will be on…</h1>
              <p>Thank you for your interest in Wisdom High Schools, which…</p>
            </div>
          </div>
          <div class="event-item">
            <div class="event-date">
              <div class="event-logo">
                <div class="event-month">OCT</div>
                <div class="event-day">23</div>
              </div>
            </div>
            <div class="event-info">
              <h1>Our Visitation day for First term 2018 will be on…</h1>
              <p>Thank you for your interest in Wisdom High Schools, which…</p>
            </div>
          </div>
          <div class="event-item">
            <div class="event-date">
              <div class="event-logo">
                <div class="event-month">OCT</div>
                <div class="event-day">23</div>
              </div>
            </div>
            <div class="event-info">
              <h1>Our Visitation day for First term 2018 will be on…</h1>
              <p>Thank you for your interest in Wisdom High Schools, which…</p>
            </div>
          </div>
          <div class="event-item">
            <div class="event-date">
              <div class="event-logo">
                <div class="event-month">OCT</div>
                <div class="event-day">23</div>
              </div>
            </div>
            <div class="event-info">
              <h1>Our Visitation day for First term 2018 will be on…</h1>
              <p>Thank you for your interest in Wisdom High Schools, which…</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--News Section Ends Here -->

    <!-- vission mission corevalues starts here -->

    <div class="vission-mission-corevalues">
      <div class="sub-mvc mission">
        <h1 class="mission-h1">School Mission</h1>
        <p class="mission-p">To equip students with wisdom in
          <br />a human and christian environment</p>
      </div>
      <div class="sub-mvc vission" style="height:5cm;">
        <h1 class="vission-h1">School Vision</h1>
        <p class="vission-p">To be a model school in the provision<br />
          of holistic education
        </p>
      </div>
      <div class="sub-mvc core-values">
        <h1 class="core-values-h1">Core-Values</h1>
        <p class="core-values-p">Godliness,excellency,perserverance<br />
          for success, discpline, cleanliness,
          <br />innovation and fraternity
        </p>
      </div>

    </div>

    <!---he statistics -->
    <div class="stat-cont-first">
      <div class="statist-contnr">
        <i class="fa fa-book fa-2x icon"></i>
        <div class="counter" data-ceil="35">35</div>
        <h4>Subjects offered</h4>
      </div>
      <div class="statist-contnr">
        <i class="fa fa-book fa-2x icon"></i>
        <div class="counter" data-ceil="20">20</div>
        <h4>Class rooms</h4>
      </div>
      <div class="statist-contnr">
        <i class="fa fa-book fa-2x icon"></i>
        <div class="counter" data-ceil="50">50</div>
        <h4>Excellent teachers</h4>
      </div>
      <div class="statist-contnr">
        <i class="fa fa-book fa-2x icon"></i>
        <div class="counter" data-ceil="550">550</div>
        <h4>Current students</h4>
      </div>
    </div>
    {{>googlemap}}
    {{>footer}}
    {{>script}}
    {{>nav}}

</body>
</html>




