  <!DOCTYPE html>
<html lang="en">
    {{>header12}}
      {{>secondarynavbar}}
   {{>navresponsive}}
    {{>slidersection}}
    {{>header}}
    <body>
 <div class="container">
        <h4 class="text-danger text-center">SUPPORT STAFF</h4>
        <img src="/images/t10.jpg" class="rounded mx-auto d-block mb-5" alt="">
        <table class="table table-bordered table-dark table-hover">
            <thead>
              <tr>
                <th scope="col">SN</th>
                <th scope="col">NAME</th>
                <th scope="col">POST</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">001</th>
                <td>KATONGOLE MARVIN</td>
                <td>BURSAR</td>
              </tr>
              <tr>
                <th scope="row">002</th>
                <td>KARUHANGA BRUCE</td>
                <td>ASSISTANT BURSAR</td>
              </tr>
              <tr>
                <th scope="row">003</th>
                <td>NAAVA JOSEPHINE</td>
                <td>ACCOUNTANT</td>
              </tr>
              <tr>
                <th scope="row">004</th>
                <td>OPOLOT EMMANUEL</td>
                <td>HEAD TEACHER'S SECRETARY</td>
              </tr>
              <tr>
                <th scope="row">005</th>
                <td>LAPYEM THOMAS</td>
                <td>LIBRARIAN</td>
              </tr>
              <tr>
                <th scope="row">006</th>
                <td>ABER ANGLE</td>
                <td>SCHOOL NURSE</td>
              </tr>
              <tr>
                <th scope="row">007</th>
                <td>ALENG CINDRELLA</td>
                <td>LAB TECHNICIAN</td>
              </tr>
              <tr>
                <th scope="row">008</th>
                <td>SSEMPIJJA ANDREW</td>
                <td>LAB ATTENDANT</td>
              </tr>
              <tr>
                <th scope="row">009</th>
                <td>ABER GLADYS</td>
                <td>ASS LAB ATTENDANT</td>
              </tr>
              <tr>
                <th scope="row">010</th>
                <td>SEGRINYA JACOB</td>
                <td>STORES ASSISTANT</td>
              </tr>
    </div>
{{>googlemap}}
{{>footer}}
</body>
</html>