 <!DOCTYPE html>
<html lang="en">
    {{>header12}}
      {{>secondarynavbar}}
   {{>navresponsive}}
    {{>slidersection}}
    {{>header}}
    <body>
 <div class="container mt-3">
        <!-- ADMINISTRATORS -->
        <h4 class="text-danger text-center">ADMINISTRATORS</h4>
        <div class="row pb-3 ">
            <div class="col sm-3 bg-info text-center">
                <h4 class="pt-3 text-light">DIRECTOR</h4> <br>
                <div class="director-img">
                    <img src="images/t5.jpg" style="width:200px; border-radius: 50%;" alt="">
                    <h5 class="text-light">OPIO JACKSON SMITH</h5>
                </div>
                <div class="director-bio">
                    <p class="d-inline">An outstanding classroom practioner who has
                         the passion for education and possess a proven track record of leading students to high academic achievement.
                         Smith is committed to safeguarding and promoting the welfare of the all students and young people under his care, 
                         and is passionate about making a real difference to the life of his students and their education.
                        </p>
                         
                </div>
            </div>
            <div class="col sm-3 bg-secondary text-center">
                <h4 class="pt-3 text-light">HEADTEACHER</h4> <br>
                <div class="director-img">
                    <img src="images/t3.jpg" style="width:200px; height:130px; border-radius: 50%;" alt="">
                    <h5 class="text-light">EREM CHRISTOPHER</h5>
                </div>
                <div class="director-bio">
                    <p>An outstanding classroom practioner who has
                        the passion for education and possess a proven track record of leading students to high academic achievement.
                        Smith is committed to safeguarding and promoting the welfare of the all students and young people under his care, 
                        and is passionate about making a real difference to the life of his students and their education.
                       </p>
                </div>
            </div>
            <div class="col sm-3 bg-info text-center">
                <h4 class="pt-3 text-light">DEPUTY HEADTEACHER</h4>
                <div class="director-img">
                    <img src="images/t7.jpg" style="width:200px; height:130px; border-radius: 50%;" alt="">
                    <h5 class="text-light">AKWERO FAITH</h5>
                </div>
                <div class="director-bio">
                    <p>An outstanding classroom practioner who has
                        the passion for education and possess a proven track record of leading students to high academic achievement.
                        Smith is committed to safeguarding and promoting the welfare of the all students and young people under his care, 
                        and is passionate about making a real difference to the life of his students and their education.
                       </p>
                </div>
            </div>
            <div class="col sm-3 bg-secondary text-center">
                <h4 class="pt-3 text-light">DIRECTOR OF STUDIES</h4>
                <div class="director-img">
                    <img src="images/t1.jpg" style="width:200px; height:130px; border-radius: 50%;" alt="">
                    <h5 class="text-light">BRIAN GASTON</h5>
                </div>
                <div class="director-bio">
                    <p>An outstanding classroom practioner who has
                        the passion for education and possess a proven track record of leading students to high academic achievement.
                       </p>
                </div>
            </div>
        </div>

        <!-- HEAD OF DEPARTMENTS -->
        <div class="row mb-5">
            <h4 class="text-danger text-center">HEAD OF DEPARTMENTS</h4>
            <div class="col sm-4 bg-secondary">
                <h5 class="pt-2 text-light text-center">HEAD OF SCIENCE DEPARTMENT</h5>
                <div class="director-img">
                    <img src="images/t4.jpg" style="width:280px; height:130px; border-radius: 50%;" alt="">
                    <h5 class="text-light text-center">NKANGI PETER</h5>
                </div>
                <div class="director-bio">
                    <p>An outstanding classroom practioner who has
                        the passion for education and possess a proven track record of leading students to high academic achievement.
                       </p>
                </div>
            </div>
            <div class="col sm-4 bg-info">
                <h5 class="pt-2 text-light text-center">HEAD OF ARTS DEPARTMENT</h5>
                <div class="director-img">
                    <img src="images/t8.jpg" style="width:280px; height:150px; border-radius: 50%;" alt="">
                    <h5 class="text-light text-center">ACHEN ROSEMARY</h5>
                </div>
                <div class="director-bio">
                    <p>An outstanding classroom practioner who has
                        the passion for education and possess a proven track record of leading students to high academic achievement.
                       </p>
                </div>
            </div>
            <div class="col sm-4 bg-secondary">
                <h5 class="pt-2 text-light text-center">HEAD OF LANGUAGE DEPARTMENT</h5>
                <div class="director-img">
                    <img src="images/t6.jpg" style="width:280px; height:130px; border-radius: 50%;" alt="">
                    <h5 class="text-light text-center">AMIA ESTHER</h5>
                </div>
                <div class="director-bio">
                    <p>An outstanding classroom practioner who has
                        the passion for education and possess a proven track record of leading students to high academic achievement.
                       </p>
                </div>
            </div>
        </div>

        <!-- OTHER TEACHING STAFF -->
        <h4 class="text-danger text-center">OTHER TEACHING STAFF</h4>
        <table class="table table-bordered table-dark table-hover">
            <thead>
              <tr>
                <th scope="col">SN</th>
                <th scope="col">NAME</th>
                <th scope="col">SUBJECT</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">001</th>
                <td>Mark Otto</td>
                <td>PHYSICS</td>
              </tr>
              <tr>
                <th scope="row">002</th>
                <td>OJOK Jacob</td>
                <td>ENGLISH</td>
              </tr>
              <tr>
                <th scope="row">003</th>
                <td>MUKASA ABEL</td>
                <td>HISTORY</td>
              </tr>
              <tr>
                <th scope="row">004</th>
                <td>MWESIGWA SHADICK</td>
                <td>CHEMISTRY</td>
              </tr>
              <tr>
                <th scope="row">005</th>
                <td>MULUNGI STEPHEN</td>
                <td>CRE</td>
              </tr>
              <tr>
                <th scope="row">006</th>
                <td>OKELLO BOB</td>
                <td>GEOGRAPHY</td>
              </tr>
              <tr>
                <th scope="row">007</th>
                <td>KISSEKA BEN</td>
                <td>FINE ART</td>
              </tr>
              <tr>
                <th scope="row">008</th>
                <td>CHAGARA JULIUS</td>
                <td>ENTERPRENEURSHIP</td>
              </tr>
              <tr>
                <th scope="row">009</th>
                <td>OJOM DANIEL</td>
                <td>AGRICULTURE</td>
              </tr>
              <tr>
                <th scope="row">010</th>
                <td>APIO LUCY</td>
                <td>BIOLOGY</td>
              </tr>
              <tr>
                <th scope="row">011</th>
                <td>AYOO MERCY</td>
                <td>FOODS AND NUTRITION</td>
              </tr>
              <tr>
                <th scope="row">012</th>
                <td>BAGUMA CHARLES</td>
                <td>POLITICAL STUDIES</td>
              </tr>
              <tr>
                <th scope="row">013</th>
                <td>NAKITO RITA</td>
                <td>LITERATURE IN ENGLISH</td>
              </tr>
              <tr>
                <th scope="row">014</th>
                <td>ANOK SAM</td>
                <td>PHYSICAL EDUCATION</td>
              </tr>
              <tr>
                <th scope="row">015</th>
                <td>OCEN YASIN</td>
                <td>ISLAMIC RELIGIOUS EDUCATION</td>
              </tr>
              <tr>
                <th scope="row">016</th>
                <td>OKORI ISAAC</td>
                <td>MATHEMATICS</td>
              </tr>
              
            </tbody>
          </table>
  </div>
{{>googlemap}}
{{>footer}}
{{>script}}
</body>
</html>
        